// Theme
$primary: #0288D1;
$success: #4CAF50;
$danger: #D32F2F;
$warning: #FF5722;
$default: #795548;

// Form
$form-outline: #536DFE;
$form-choice-background: #CBD1D8;

// Button
$btn-primary: #0288D1;
$btn-success: #4CAF50;
$btn-danger: #D32F2F;
$btn-warning: #FF5722;
$btn-default: #795548;

// Typo
$primary-text-color: #495057;
$secondary-text-color: #313435;

// Material
$material-blue: #1976D2;

// Menu
$menu-color: #272C33;
$menu-text-color: #f1f2f7;
$menu-border-color: #4e4e52;

// Table
$table-header-color: #272C33;
$table-header-text-color: #f1f2f7;