* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

body, html, main, aside {
  height: 100%;
}

main {
  display: flex;
  padding-top: 70px;
}

li {
  list-style: none;
}

.wrapper {
  height: 100%;
  min-height: 100vh;
  padding: 20px;
  padding-left: 300px;
  width: 100%;
}
