header
  nav.nav.nav--top.sticky.full
    ul.nav__left 
      li 
        a.app-title(href="/index.html") Money Saver
    ul.nav__right
      li
        a.profil(href="#") 
          img.circle.circle--profil(src="../img/admin.jpg")
          span Rasolofoniaina Mickael
