header
  nav.nav.nav-top.sticky.full
    ul.nav-top-left
      li 
        a.app-title(href="/index.html") Money Saver
    ul.nav-top-right
      li
        a.profil(href="#") 
          img.profil-img(src="../img/admin.jpg")
          span Rasolofoniaina Mickael
