aside.menu 
  nav.menu-nav
    ul
      li
        a(href="#")
          i.fas.fa-tachometer-alt 
          | Dashboard
      li
        a(href="#")
          i.fab.fa-amazon 
          | Marché
      li 
        a(href="#")
          i.fas.fa-hand-holding-usd 
          | Debit
      li
        a(href="#")
          i.fas.fa-file-invoice-dollar 
          | Crédit
      li
        a(href="#")
          i.fas.fa-child 
          | Contractant
      li
        a(href="#")
          i.fas.fa-sign-out-alt 
          | Déconnexion