$menu-max-width: 280px;

.app-title {
  color: $menu-text-color;
  font-weight: bold;
  text-transform: uppercase;
}

.nav {
  &-top {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    &-left {
      align-items: center;
      background-color: $menu-color;
      border-bottom: 1px solid $menu-border-color;
      display: flex;
      max-width: $menu-max-width;
      padding-left: 25px;
      width: 100%;
    }
    &-right {
      background-color: $menu-color;
      box-shadow:0 1px 5px grey;
      color: $menu-text-color;
      text-align: right;
      width: 100%;
      li {
        align-items: center;
        display: inline-flex;
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
        a {
          padding: 20px;
        }
      }
    }
  }
}

.profil {
  align-items: center;
  display: inline-flex;
  &-img {
    border-radius: 15px;
    height: 30px;
    margin-right: 10px;
    width: 30px;
  }
}
