$menu-max-width: 280px;

.nav {
  &--top {
    display: flex;
    justify-content: space-between;
  }
  &__left {
    align-items: center;
    background-color: $menu-color;
    border-bottom: 1px solid $menu-border-color;
    display: flex;
    max-width: $menu-max-width;
    padding-left: 25px;
    width: 100%;
  }
  &__right {
    background-color: white;
    box-shadow:0 1px 5px grey;
    text-align: right;
    width: 100%;
    li {
      align-items: center;
      display: inline-flex; 
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      a {
        padding: 20px;
      }
    }
  }
  .app-title {
    color: $menu-text-color;
    font-weight: bold;
    text-transform: uppercase;
  }
  .profil {
    align-items: center;
    color: $secondary-text-color;
    display: inline-flex;
  }
}

.menu {
  background-color: $menu-color;
  max-width: $menu-max-width;
  position: fixed;
  width: 100%;
  i {
    color: $menu-text-color;
    width: 25px;
  }
  li a {
    border-bottom: 1px solid $menu-border-color;
    color: $menu-text-color;
    display: block;
    font-size: 14px;
    padding: 20px 0 20px 25px;
    position: relative;
    &:hover {
      color: white;
    }
  }
}