.table {
  border-collapse: collapse;
  th {
    background-color: $table-header-color;
    color: $table-header-text-color;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    text-align: left;
  }
  td {
    border-bottom: 1px solid $table-header-color;
    font-size: 13px;
    padding: 10px;
    text-align: left;
    &.right {
      text-align: right;
    }
  }
}
