extends ../base/layout.pug

append var
  - var title = "Money Saver Dashboard"
  - var header = true
  - var menu = true

block content 
  //- DASHBOARD
  h2 Dashbord UI
    .card-dashboard-container
      +card-dashboard({
        title: "Debit",
        icon: "ambulance",
        value: "12 000 Rs",
        theme: "primary"
      })
      +card-dashboard({
        title: "Debit",
        icon: "ambulance",
        value: "12 000 Rs",
        theme: "primary"
      })
      +card-dashboard({
        title: "Debit",
        icon: "ambulance",
        value: "12 000 Rs",
        theme: "primary"
      })
      +card-dashboard({
        title: "Debit",
        icon: "ambulance",
        value: "12 000 Rs",
        theme: "primary"
      })
    
  //- FORM
  h2 Form
  .form-item
    label(for="email") Email
    input(type="text" placeholder="Enter your email here" id="email")
  .form-item
    label(for="pwd") Password
    input(type="password" placeholder="Enter your password here" id="pwd")
  .form-item
    label(for="country") Country
    select(id="country")
      option Allemagne
      option Japon
      option Madagascar
  .form-item
    p.label Radio
    .form-choice
      input(type="radio" id="radio-1" name="radio" checked)
      label(for="radio-1") Radio 1
    .form-choice
      input(type="radio" id="radio-2" name="radio")
      label(for="radio-2") Radio 2
  .form-item 
    p.label Checkbox
    .form-choice
      input(type="checkbox" id="checkbox-1" name="checkbox" checked)
      label(for="checkbox-1") checkbox 1
    .form-choice
      input(type="checkbox" id="checkbox-2" name="checkbox")
      label(for="checkbox-2") checkbox 2

  
  //- BUTTON
  h2 Button
  button.btn.btn-primary Primary
  button.btn.btn-success Success
  button.btn.btn-danger Danger
  button.btn.btn-warning Warning
  button.btn.btn-default Default
  
  //- TABLE
  h2 Table
  table.table.full
    tr
      th Header 1
      th Header 2
      th Header 3
      th Header 4
    tr
      td Row 1
      td Row 1
      td Row 1
      td Row 1
    tr
      td Row 2
      td Row 2
      td Row 2
      td Row 2
    tr
      td Row 3
      td Row 3
      td Row 3
      td Row 3
    tr
      td Row 4
      td Row 4
      td Row 4
      td Row 4