extends ../base/layout.pug

append var
  - var title = "Money Saver Dashboard"
  - var header = true
  - var menu = true

block content 
  //- DASHBOARD
  h2 Dashbord UI
    .card-dashboard-container
      +card-dashboard({
        title: "Debit",
        icon: "ambulance",
        value: "12 000 Rs",
        theme: "primary"
      })
      +card-dashboard({
        title: "Debit",
        icon: "ambulance",
        value: "12 000 Rs",
        theme: "primary"
      })
      +card-dashboard({
        title: "Debit",
        icon: "ambulance",
        value: "12 000 Rs",
        theme: "primary"
      })
      +card-dashboard({
        title: "Debit",
        icon: "ambulance",
        value: "12 000 Rs",
        theme: "primary"
      })
    
  //- FORM
  h2 Form
  .row.align
    .col-md-12.col-sm-12.col-xs-12
      .form-item
        label(for="email") Email
        input(type="text" placeholder="Enter your email here" id="email")
      .form-item
        label(for="pwd") Password
        input(type="password" placeholder="Enter your password here" id="pwd")
      .form-item
        label(for="country") Country
        select(id="country")
          option Allemagne
          option Japon
          option Madagascar
  
  //- BUTTON
  h2 Button
  .row.align
    .col-md-12.col-sm-12.col-xs-12
      button.btn.btn-primary Primary
      button.btn.btn-success Success
      button.btn.btn-danger Danger
      button.btn.btn-warning Warning
      button.btn.btn-default Default
  